
/* HEADER */

header {
    padding-top: 15px;
}
.header-nav-wrap {
    display: flex;
    justify-content: space-around;
}
header a {
    color: #333;
}
header a:hover {
    text-decoration: none;
}
.header-nav {
    display: flex;
    list-style: none;
}

.header-nav li {
    font-size: 0.875rem;
    padding-left: 25px;
}
.header-nav:first-child {
    padding-left: 0;
}
.header-nav li:first-child {
    padding-left: 0;
}
header img {
    padding-top: 20px;
}
.input-wrapper {
    position: relative;
}
.input-wrapper input {
    width: 100%;
    height: 40px;
}
.input-wrapper::after {
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    background: url(http://www.hosp.keio.ac.jp/common/images/search_01.png)
    center center/contain no-repeat;
}
.header-change {
    display: flex;
}
.header-change p,
.header-change a {
    color: #656565;
    margin-left: 15px;
    font-size: 0.8rem;
}
.header-change p {
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-change a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #bbb;
}
.header-change p:first-child {
    margin-left: 0;
}
.header-change a:hover {
    text-decoration: underline;
}


/* ガイド */


.guide {
    background: #000055;
    height: 68px;
    margin-top: 40px;
}
.guide ul {
    padding: 0;
    display: table;
    table-layout: fixed;
    width: 100%;
    /* display: flex;
    justify-content: space-around; */
    list-style: none;
    text-align: center;
}
.guide li {
    padding: 16px 50px;
    display: table-cell;
    position: relative;
    display: inline-block;
}
.guide a {
    color: #fff;
    text-decoration: none;
    font-size: 1.5rem;
    /* position: relative;
    display: inline-block; */
}
.guide-first-list::before {
    content: "";
    width: 1px;
    height: 24px;
    background-color: gray;
    position: absolute;
    top: 24px;
    left: 0;
}
.guide li::after {
    content: "";
    width: 1px;
    height: 24px;
    background-color: gray;
    position: absolute;
    top: 24px;
    right: 0;
}
.guide li:hover {
    background-color: red;
}

.guide-nav {
    background: #eee;
    width: 82%;
    max-width: 900px;
    margin: 0 auto;
    transition-duration: 2s;
}
.guide-wrap {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 10px;
}
.guide-nav-content:not(:last-child) {
    border-right: 1px solid #dbd8d4;
}
.guide-nav-content {
    display: table-cell;
    padding-left: 30px;
}
.guide-wrap ul {
    list-style: none;
    padding: 0;
}
.guide-wrap li {
    padding-top: 5px;
}
.guide-nav i {
    padding-right: 5px;
}
.guide-nav p {
    color: #333;
    display: inline-block;
    font-size: 2rem;
}
.guide-nav p::before {
    content: "";
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url(../img/guide-nav-li-img.jpg);
    background-size: contain;
}
.guide-nav a {
    color: #245dc1;
}
.guide-nav img {
    width: 15px;
    height: 15px;
}
.guide-nav-footer {
    width: 100%;
}
.guide-nav-footer a {
    display: block;
    padding: 20px 60px 20px 60px;
    background: rgb(217, 217, 247);
}
.guide-nav a:hover,
.guide-nav-footer a:hover {
    text-decoration: none;
}


/* モバイル版 */



@media screen and (min-width: 768px) {
    .mobile-header {
        display: none;
    }
}

@media screen and (max-width: 768px) { 
    .desktop {
        display: none;
    }
    .mobile-header {
        padding-top: 20px;
    }
    .drawer {
        display: flex;
        flex-direction: row-reverse;
    }
    .mobile-header-title {
        width: 150px;
        margin: 0 auto;
        padding-top: 15px;
    }
    .mobile-guide {
        background: #000055;
    }
    .mobile-guide ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        padding-left: 0;
    }
    .mobile-guide-first-list {
        border-left: 0.5px solid #6e6c95;
    }
    .mobile-guide li {
        border-right: 0.5px solid #6e6c95;
        margin: 0;
        width: 33.333%;
    }
    .mobile-guide a {
        display: block;
        width: 100%;
        height: 100%;
        color: #fff;
        text-decoration: none;
        text-align: center;
    }
    .mobile-guide-nav {
        font-size: 0.8rem;
    }
    .mobile-guide-nav ul {
        list-style: none;
        padding: 0;
    }
    .mobile-guide-nav li {
        /* padding: 10px 0 15px 15px; */
        border-bottom: 1px solid #6e6c95;
    }
    .mobile-guide-nav a {
        width: 100%;
        height: 100%;
        padding: 10px 0 10px 15px;
        color: #245dc1;
        display: block;
    }
    .mobile-guide-nav a:first-child {
        padding-top: 15px;
    }
    .mobile-guide-nav-footer {
        background: rgb(217, 217, 247);
    }
}




/* jQuery実装 */

.active {
    display: none;
}



/* ハンバーガーメニュー */


.drawer-hidden {
    display: none;
}

/* ハンバーガーアイコンの設置スペース */
.drawer-open {
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
    cursor: pointer;
}

/* ハンバーガーメニューのアイコン */
.drawer-open span,
.drawer-open span:before,
.drawer-open span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background: gray;
    transition: 0.5s;
    position: absolute;
}

/* 三本線のうち一番上の棒の位置調整 */
.drawer-open span:before {
    bottom: 8px;
}

/* 三本線のうち一番下の棒の位置調整 */
.drawer-open span:after {
    top: 8px;
}

/* アイコンがクリックされたら真ん中の線を透明にする */
#drawer-check:checked ~ .drawer-open span {
    background: rgba(255, 255, 255, 0);
}

/* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
#drawer-check:checked ~ .drawer-open span::before {
    bottom: 0;
    transform: rotate(45deg);
}

#drawer-check:checked ~ .drawer-open span::after {
    top: 0;
    transform: rotate(-45deg);
}


.mobile-menu h2 {
    display: block;
    background-color: #f1f4ff;
    font-size: 18px;
    padding: 15px;
}

.mobile-input-wrapper {
    position: relative;
    padding: 15px;
    background-color: #f7f8f8;
}
.mobile-input-wrapper input {
    width: 100%;
    height: 40px;
}
.mobile-input-wrapper::after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 25px;
    background: url(http://www.hosp.keio.ac.jp/common/images/search_01.png)
    center center/contain no-repeat;
}

/* メニューのデザイン*/
.drawer-content {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 100%;/* メニューを画面の外に飛ばす */
    z-index: 99;
    background: #fff;
    transition: 0.5s;
}

.drawer-content ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.drawer-content li {
    border-bottom: solid gray;
    border-width: 1px;
}

.drawer-content li a {
    display: block;
    color: #245dc1;
    padding: 15px 30px 15px 10px;
    font-size: 15px;
}

.drawer-content li:first-child {
    border-top: solid gray;
    border-width: 1px;
}

/* アイコンがクリックされたらメニューを表示 */
#drawer-check:checked ~ .drawer-content {
    left: 0;/* メニューを画面に入れる */
}